/resources/public/js/compiled/**
/resources/public/.git
/resources/public/CNAME
/resources/public/sitemap.xml
/resources/public/gdpcal/**
/resources/public/archived/**
/resources/public/robots.txt
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
