{% extends "/html/base.html" %}
{%block subtitle %}: {{page.title}}{% endblock %}
{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/bg.png')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{page.title}}</h1>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    {% if page.toc %}{{page.toc|safe}}{% endif %}
    {{page.content|safe}}
  </div>
</div>
{% endblock %}
