name: Build and Deploy
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 1 1 *'
  repository_dispatch:
    types: [build-and-deploy]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          submodules: recursive  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@16361eb4acea8698b220b76c0d4e84e1fd22c61d # v2.6.0
        with:
          hugo-version: 'latest'

      - name: Build
        run: hugo --minify

      - name: Copy CNAME and robots.txt
        run: cp CNAME robots.txt public

      # Deploy site
      - name: Create Deploy Token
        uses: actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547 # v1
        id: create-deploy-token
        with:
          app-id: ${{ secrets.DEPLOY_APP_ID }}
          private-key: ${{ secrets.DEPLOY_PRIVATE_KEY }}

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@9d877eea73427180ae43cf98e8914934fe157a1a # v4.7.6
        with:
          token: ${{ steps.create-deploy-token.outputs.token }}
          git-config-email: ${{ secrets.GIT_CONFIG_EMAIL }}
          git-config-name: ${{ secrets.GIT_CONFIG_NAME }}
          branch: github-pages
          folder: public
          repository-name: michael-valdron/michael-valdron.github.io
          clean: true
